//! **************************************************************************
// Written by: Map P.58f on Tue Feb 04 09:41:41 2020
//! **************************************************************************

SCHEMATIC START;
COMP "SWITCH<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "SWITCH<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P54" LEVEL 1;
COMP "SWITCH<4>" LOCATE = SITE "P18" LEVEL 1;
COMP "SWITCH<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "SWITCH<6>" LOCATE = SITE "P10" LEVEL 1;
COMP "SWITCH<7>" LOCATE = SITE "P6" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "BTN_RESET" LOCATE = SITE "P48" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "BTN_LOAD" LOCATE = SITE "P69" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "SWITCH<1>" LOCATE = SITE "P36" LEVEL 1;
SCHEMATIC END;

