//! **************************************************************************
// Written by: Map P.58f on Sat Feb 01 13:07:03 2020
//! **************************************************************************

SCHEMATIC START;
COMP "overflow" LOCATE = SITE "P15" LEVEL 1;
COMP "in_byte<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "in_byte<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "in_byte<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "in_byte<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "in_byte<4>" LOCATE = SITE "P18" LEVEL 1;
COMP "in_byte<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "cathodes<0>" LOCATE = SITE "P25" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "P34" LEVEL 1;
COMP "in_byte<6>" LOCATE = SITE "P10" LEVEL 1;
COMP "cathodes<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "in_byte<7>" LOCATE = SITE "P6" LEVEL 1;
COMP "cathodes<2>" LOCATE = SITE "P23" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "cathodes<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "P26" LEVEL 1;
COMP "btn_calc" LOCATE = SITE "P47" LEVEL 1;
COMP "cathodes<4>" LOCATE = SITE "P20" LEVEL 1;
COMP "cathodes<5>" LOCATE = SITE "P17" LEVEL 1;
COMP "cathodes<6>" LOCATE = SITE "P83" LEVEL 1;
COMP "cathodes<7>" LOCATE = SITE "P22" LEVEL 1;
COMP "clock" LOCATE = SITE "P54" LEVEL 1;
COMP "reset" LOCATE = SITE "P41" LEVEL 1;
COMP "load_add_0" LOCATE = SITE "P69" LEVEL 1;
COMP "load_add_1" LOCATE = SITE "P48" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

