//! **************************************************************************
// Written by: Map P.58f on Thu Feb 13 10:49:38 2020
//! **************************************************************************

SCHEMATIC START;
COMP "BTN_RESET" LOCATE = SITE "B18" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "BTN_RD" LOCATE = SITE "E18" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "RXD" LOCATE = SITE "U6" LEVEL 1;
COMP "BTN_WR" LOCATE = SITE "D18" LEVEL 1;
COMP "TXD" LOCATE = SITE "P9" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "SWITCH<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "SWITCH<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "SWITCH<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "B8" LEVEL 1;
COMP "SWITCH<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "SWITCH<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "SWITCH<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "SWITCH<7>" LOCATE = SITE "R17" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

