//! **************************************************************************
// Written by: Map P.58f on Tue Feb 04 12:26:20 2020
//! **************************************************************************

SCHEMATIC START;
COMP "CATHODES<0>" LOCATE = SITE "P25" LEVEL 1;
COMP "CATHODES<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "CATHODES<2>" LOCATE = SITE "P23" LEVEL 1;
COMP "LED" LOCATE = SITE "P15" LEVEL 1;
COMP "CATHODES<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "CATHODES<4>" LOCATE = SITE "P20" LEVEL 1;
COMP "CATHODES<5>" LOCATE = SITE "P17" LEVEL 1;
COMP "BTN_START" LOCATE = SITE "P48" LEVEL 1;
COMP "CATHODES<6>" LOCATE = SITE "P83" LEVEL 1;
COMP "CATHODES<7>" LOCATE = SITE "P22" LEVEL 1;
COMP "ANODES<0>" LOCATE = SITE "P34" LEVEL 1;
COMP "ANODES<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "ANODES<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "ANODES<3>" LOCATE = SITE "P26" LEVEL 1;
COMP "BTN_LOAD" LOCATE = SITE "P69" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "SWITCH<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "SWITCH<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "SWITCH<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P54" LEVEL 1;
COMP "SWITCH<4>" LOCATE = SITE "P18" LEVEL 1;
COMP "SWITCH<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "SWITCH<6>" LOCATE = SITE "P10" LEVEL 1;
COMP "RESET" LOCATE = SITE "P47" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

