//! **************************************************************************
// Written by: Map P.58f on Thu Feb 13 19:25:28 2020
//! **************************************************************************

SCHEMATIC START;
COMP "CATHODES<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "CATHODES<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "CATHODES<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "CATHODES<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "CATHODES<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "CATHODES<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "BTN_START" LOCATE = SITE "E18" LEVEL 1;
COMP "CATHODES<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "CATHODES<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "ANODES<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "ANODES<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "BTN_SAQ" LOCATE = SITE "B18" LEVEL 1;
COMP "ANODES<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "ANODES<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "SWITCH<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "SWITCH<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "SWITCH<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "B8" LEVEL 1;
COMP "BTN_M" LOCATE = SITE "D18" LEVEL 1;
COMP "RESET" LOCATE = SITE "H13" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

