//! **************************************************************************
// Written by: Map P.58f on Fri Jan 31 11:10:43 2020
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "X<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "X<6>" LOCATE = SITE "P10" LEVEL 1;
COMP "Y<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "X<7>" LOCATE = SITE "P6" LEVEL 1;
COMP "Y<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "Y<5>" LOCATE = SITE "P4" LEVEL 1;
COMP "Y<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "LOAD" LOCATE = SITE "P48" LEVEL 1;
COMP "Y<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "CLK" LOCATE = SITE "P54" LEVEL 1;
COMP "X<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "X<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "RESET" LOCATE = SITE "P69" LEVEL 1;
COMP "X<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "SHIFT" LOCATE = SITE "P47" LEVEL 1;
COMP "X<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "X<4>" LOCATE = SITE "P18" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

